<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyGate</display-name>
  <welcome-file-list>
    <welcome-file>SignUp.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>404</error-code>
  <location> /404.jsp</location>
  
  </error-page>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMemberController</display-name>
    <servlet-name>ListMemberController</servlet-name>
    <servlet-class>com.controller.ListMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMemberController</servlet-name>
    <url-pattern>/ListMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveController</display-name>
    <servlet-name>ApproveController</servlet-name>
    <servlet-class>com.controller.ApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveController</servlet-name>
    <url-pattern>/ApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFamilyMember</display-name>
    <servlet-name>AddFamilyMember</servlet-name>
    <servlet-class>com.controller.AddFamilyMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFamilyMember</servlet-name>
    <url-pattern>/AddFamilyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseController</display-name>
    <servlet-name>AddHouseController</servlet-name>
    <servlet-class>com.controller.AddHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseController</servlet-name>
    <url-pattern>/AddHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHouseController</display-name>
    <servlet-name>ListHouseController</servlet-name>
    <servlet-class>com.controller.ListHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHouseController</servlet-name>
    <url-pattern>/ListHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFamilyMemberController</display-name>
    <servlet-name>AddFamilyMemberController</servlet-name>
    <servlet-class>com.controller.AddFamilyMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFamilyMemberController</servlet-name>
    <url-pattern>/AddFamilyMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFamilyMemberController</display-name>
    <servlet-name>ListFamilyMemberController</servlet-name>
    <servlet-class>com.controller.ListFamilyMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFamilyMemberController</servlet-name>
    <url-pattern>/ListFamilyMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHouseIdController</display-name>
    <servlet-name>GetHouseIdController</servlet-name>
    <servlet-class>com.controller.GetHouseIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHouseIdController</servlet-name>
    <url-pattern>/GetHouseIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructionController</display-name>
    <servlet-name>AddInstructionController</servlet-name>
    <servlet-class>com.controller.AddInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructionController</servlet-name>
    <url-pattern>/AddInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionController</display-name>
    <servlet-name>ListInstructionController</servlet-name>
    <servlet-class>com.controller.ListInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionController</servlet-name>
    <url-pattern>/ListInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionSecurityController</display-name>
    <servlet-name>ListInstructionSecurityController</servlet-name>
    <servlet-class>com.controller.ListInstructionSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionSecurityController</servlet-name>
    <url-pattern>/ListInstructionSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllowDisableController</display-name>
    <servlet-name>AllowDisableController</servlet-name>
    <servlet-class>com.controller.AllowDisableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllowDisableController</servlet-name>
    <url-pattern>/AllowDisableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInstructionController</display-name>
    <servlet-name>DeleteInstructionController</servlet-name>
    <servlet-class>com.controller.DeleteInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstructionController</servlet-name>
    <url-pattern>/DeleteInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHouseController</display-name>
    <servlet-name>DeleteHouseController</servlet-name>
    <servlet-class>com.controller.DeleteHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHouseController</servlet-name>
    <url-pattern>/DeleteHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFamilyMemberController</display-name>
    <servlet-name>DeleteFamilyMemberController</servlet-name>
    <servlet-class>com.controller.DeleteFamilyMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFamilyMemberController</servlet-name>
    <url-pattern>/DeleteFamilyMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordController</display-name>
    <servlet-name>ForgetPasswordController</servlet-name>
    <servlet-class>com.controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordController</servlet-name>
    <url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordController</display-name>
    <servlet-name>ResetPasswordController</servlet-name>
    <servlet-class>com.controller.ResetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordController</servlet-name>
    <url-pattern>/ResetPasswordController</url-pattern>
  </servlet-mapping>
</web-app>